body {
    width: 100%;
    height: 100%;
    background-image: url(../images/Death_star_2.png);
    background-position: cover;
    color: darkslategray;
}

h1 {
    color: lightsteelblue;
    padding: 1%;
}

.container {
    padding: 1%;
}

.charImage {
    height: 300px;
    width: 100%;
}

.jumbotron {
    background-color: lightsteelblue;
    background:rgba(255,255,255,0.5);
}


